
    $brand-blue-color: #2196f3;
    $brand-dark-gray-color: #2f303a;
    $brand-light-gray-color: #f5f4fa;
    $brand-dark-text-color: #212121;
    $brand-light-text-color: #757575;
    $brand-light-icon-color: #AFB1B8;
    $brand-header-border-color: #ececec;
    $brand-border-color: #eeeeee;
    $white-color: #fff;
    $black-color: #000;