.service {
    padding-top: 84px;
    padding-bottom: 84px;
    display: flex;

    &__list {
        width: 418px;
        height: 360px;
    }

    &__item {
        justify-content: space-between;
    }
}